/.vs/SP Share/v15/.suo
/.vs/SP Share/v15/Server/sqlite3/db.lock
/.vs/SP Share/v15/Server/sqlite3/storage.ide
/.vs/SP Share/v15/Server/sqlite3/storage.ide-shm
/.vs/SP Share/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
