/.vs/SP Share/v15/.suo
/.vs/SP Share/v15/Server/sqlite3/db.lock
/.vs/SP Share/v15/Server/sqlite3/storage.ide
/.vs/SP Share/v15/Server/sqlite3/storage.ide-shm
/.vs/SP Share/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/SP Share/bin/Antlr3.Runtime.dll
/SP Share/bin/Antlr3.Runtime.pdb
/SP Share/bin/ApplicationInsights.config
/SP Share/bin/EntityFramework.SqlServer.dll
/SP Share/bin/EntityFramework.SqlServer.xml
/SP Share/bin/EntityFramework.dll
/SP Share/bin/EntityFramework.xml
/SP Share/bin/Microsoft.AI.Agent.Intercept.dll
/SP Share/bin/Microsoft.AI.DependencyCollector.dll
/SP Share/bin/Microsoft.AI.DependencyCollector.xml
/SP Share/bin/Microsoft.AI.PerfCounterCollector.dll
/SP Share/bin/Microsoft.AI.ServerTelemetryChannel.dll
/SP Share/bin/Microsoft.AI.Web.dll
/SP Share/bin/Microsoft.AI.Web.xml
/SP Share/bin/Microsoft.AI.WindowsServer.dll
/SP Share/bin/Microsoft.AI.WindowsServer.xml
/SP Share/bin/Microsoft.ApplicationInsights.dll
/SP Share/bin/Microsoft.AspNet.Identity.Core.dll
/SP Share/bin/Microsoft.AspNet.Identity.Core.xml
/SP Share/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/SP Share/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/SP Share/bin/Microsoft.AspNet.TelemetryCorrelation.dll
/SP Share/bin/Microsoft.AspNet.TelemetryCorrelation.xml
/SP Share/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/SP Share/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/SP Share/bin/Microsoft.Web.Infrastructure.dll
/SP Share/bin/Newtonsoft.Json.dll
/SP Share/bin/Newtonsoft.Json.xml
/SP Share/bin/SP Share.dll
/SP Share/bin/SP Share.dll.config
/SP Share/bin/SP Share.pdb
/SP Share/bin/System.Diagnostics.DiagnosticSource.dll
/SP Share/bin/System.Diagnostics.DiagnosticSource.xml
/SP Share/bin/System.Web.Helpers.dll
/SP Share/bin/System.Web.Helpers.xml
/SP Share/bin/System.Web.Mvc.dll
/SP Share/bin/System.Web.Mvc.xml
/SP Share/bin/System.Web.Optimization.dll
/SP Share/bin/System.Web.Optimization.xml
/SP Share/bin/System.Web.Razor.dll
/SP Share/bin/System.Web.Razor.xml
/SP Share/bin/System.Web.WebPages.Deployment.dll
/SP Share/bin/System.Web.WebPages.Deployment.xml
/SP Share/bin/System.Web.WebPages.Razor.dll
/SP Share/bin/System.Web.WebPages.Razor.xml
/SP Share/bin/System.Web.WebPages.dll
/SP Share/bin/System.Web.WebPages.xml
/SP Share/bin/WebGrease.dll
/SP Share/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/SP Share/bin/roslyn/Microsoft.CSharp.Core.targets
/SP Share/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/SP Share/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/SP Share/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/SP Share/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/SP Share/bin/roslyn/Microsoft.CodeAnalysis.dll
/SP Share/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/SP Share/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/SP Share/bin/roslyn/Microsoft.Managed.Core.targets
/SP Share/bin/roslyn/Microsoft.VisualBasic.Core.targets
/SP Share/bin/roslyn/System.AppContext.dll
/SP Share/bin/roslyn/System.Collections.Immutable.dll
/SP Share/bin/roslyn/System.Console.dll
/SP Share/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/SP Share/bin/roslyn/System.Diagnostics.StackTrace.dll
/SP Share/bin/roslyn/System.IO.Compression.dll
/SP Share/bin/roslyn/System.IO.FileSystem.Primitives.dll
/SP Share/bin/roslyn/System.IO.FileSystem.dll
/SP Share/bin/roslyn/System.IO.Pipes.AccessControl.dll
/SP Share/bin/roslyn/System.IO.Pipes.dll
/SP Share/bin/roslyn/System.Reflection.Metadata.dll
/SP Share/bin/roslyn/System.Security.AccessControl.dll
/SP Share/bin/roslyn/System.Security.Claims.dll
/SP Share/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/SP Share/bin/roslyn/System.Security.Cryptography.Encoding.dll
/SP Share/bin/roslyn/System.Security.Cryptography.Primitives.dll
/SP Share/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/SP Share/bin/roslyn/System.Security.Principal.Windows.dll
/SP Share/bin/roslyn/System.Text.Encoding.CodePages.dll
/SP Share/bin/roslyn/System.ValueTuple.dll
/SP Share/bin/roslyn/System.Xml.ReaderWriter.dll
/SP Share/bin/roslyn/System.Xml.XPath.XDocument.dll
/SP Share/bin/roslyn/System.Xml.XPath.dll
/SP Share/bin/roslyn/System.Xml.XmlDocument.dll
/SP Share/bin/roslyn/VBCSCompiler.exe
/SP Share/bin/roslyn/VBCSCompiler.exe.config
/SP Share/bin/roslyn/csc.exe
/SP Share/bin/roslyn/csc.exe.config
/SP Share/bin/roslyn/csc.rsp
/SP Share/bin/roslyn/csi.exe
/SP Share/bin/roslyn/csi.exe.config
/SP Share/bin/roslyn/csi.rsp
/SP Share/bin/roslyn/vbc.exe
/SP Share/bin/roslyn/vbc.exe.config
/SP Share/bin/roslyn/vbc.rsp
/SP Share/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SP Share/obj/Debug/SP Share.csproj.CopyComplete
/SP Share/obj/Debug/SP Share.csproj.CoreCompileInputs.cache
/SP Share/obj/Debug/SP Share.csproj.FileListAbsolute.txt
/SP Share/obj/Debug/SP Share.csprojAssemblyReference.cache
/SP Share/obj/Debug/SP Share.dll
/SP Share/obj/Debug/SP Share.pdb
/SP Share/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SP Share/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SP Share/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SP Share/Web.Debug.config
/SP Share/Web.Release.config
/SP Share/Web.config
/SP Share/obj/Debug/SP Share.csproj.GenerateResource.cache
/SP Share/obj/Debug/SP_Share.Migrations.init.resources
/SP Share/Properties/PublishProfiles/CSE5368 - Web Deploy.pubxml
/SP Share/Properties/PublishProfiles/CSE5368 - Web Deploy.pubxml.user
/SP Share/obj/Release/CSAutoParameterize.parameters.xml
/SP Share/obj/Release/CSAutoParameterize/original/Views/Web.config
/SP Share/obj/Release/CSAutoParameterize/original/Web.config
/SP Share/obj/Release/CSAutoParameterize/transformed/Views/Web.config
/SP Share/obj/Release/CSAutoParameterize/transformed/Web.config
/SP Share/obj/Release/Package/PackageTmp/ApplicationInsights.config
/SP Share/obj/Release/Package/PackageTmp/Content/Site.css
/SP Share/obj/Release/Package/PackageTmp/Content/bootstrap-theme.css
/SP Share/obj/Release/Package/PackageTmp/Content/bootstrap-theme.css.map
/SP Share/obj/Release/Package/PackageTmp/Content/bootstrap-theme.min.css
/SP Share/obj/Release/Package/PackageTmp/Content/bootstrap-theme.min.css.map
/SP Share/obj/Release/Package/PackageTmp/Content/bootstrap.css
/SP Share/obj/Release/Package/PackageTmp/Content/bootstrap.css.map
/SP Share/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
/SP Share/obj/Release/Package/PackageTmp/Content/bootstrap.min.css.map
/SP Share/obj/Release/Package/PackageTmp/Global.asax
/SP Share/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.min.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.min.map
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.min.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.min.map
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery.validate.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery.validate.min.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.min.js
/SP Share/obj/Release/Package/PackageTmp/Scripts/modernizr-2.8.3.js
/SP Share/obj/Release/Package/PackageTmp/Views/Group/Group.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/Group/Index.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/Item/Index.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/Item/Item.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/Shared/Index.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/User/Index.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/User/Login.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/User/Register.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/Web.config
/SP Share/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
/SP Share/obj/Release/Package/PackageTmp/Web.config
/SP Share/obj/Release/Package/PackageTmp/bin/Antlr3.Runtime.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Antlr3.Runtime.pdb
/SP Share/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
/SP Share/obj/Release/Package/PackageTmp/bin/EntityFramework.SqlServer.dll
/SP Share/obj/Release/Package/PackageTmp/bin/EntityFramework.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Agent.Intercept.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AI.DependencyCollector.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AI.PerfCounterCollector.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AI.ServerTelemetryChannel.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Web.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AI.WindowsServer.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.ApplicationInsights.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AspNet.Identity.Core.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.AspNet.TelemetryCorrelation.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
/SP Share/obj/Release/Package/PackageTmp/bin/Newtonsoft.Json.dll
/SP Share/obj/Release/Package/PackageTmp/bin/SP Share.dll
/SP Share/obj/Release/Package/PackageTmp/bin/SP Share.pdb
/SP Share/obj/Release/Package/PackageTmp/bin/System.Diagnostics.DiagnosticSource.dll
/SP Share/obj/Release/Package/PackageTmp/bin/System.Web.Helpers.dll
/SP Share/obj/Release/Package/PackageTmp/bin/System.Web.Mvc.dll
/SP Share/obj/Release/Package/PackageTmp/bin/System.Web.Optimization.dll
/SP Share/obj/Release/Package/PackageTmp/bin/System.Web.Razor.dll
/SP Share/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Deployment.dll
/SP Share/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Razor.dll
/SP Share/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.dll
/SP Share/obj/Release/Package/PackageTmp/bin/WebGrease.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Managed.Core.targets
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.AppContext.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Console.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.StackTrace.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Compression.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.Primitives.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Pipes.AccessControl.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Pipes.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.AccessControl.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Claims.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Encoding.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Primitives.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Principal.Windows.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Text.Encoding.CodePages.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.ValueTuple.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.ReaderWriter.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.XDocument.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XmlDocument.dll
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
/SP Share/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
/SP Share/obj/Release/Package/PackageTmp/favicon.ico
/SP Share/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.eot
/SP Share/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.svg
/SP Share/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.ttf
/SP Share/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.woff
/SP Share/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.woff2
/SP Share/obj/Release/Package/PackageTmp/libman.json
/SP Share/obj/Release/Package/SP Share.SourceManifest.xml
/SP Share/obj/Release/SP Share.csproj.CopyComplete
/SP Share/obj/Release/SP Share.csproj.CoreCompileInputs.cache
/SP Share/obj/Release/SP Share.csproj.FileListAbsolute.txt
/SP Share/obj/Release/SP Share.csprojAssemblyReference.cache
/SP Share/obj/Release/SP Share.dll
/SP Share/obj/Release/SP Share.pdb
/SP Share/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SP Share/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SP Share/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SP Share/obj/Release/TransformWebConfig/assist/Web.config
/SP Share/obj/Release/TransformWebConfig/original/Web.config
/SP Share/obj/Release/TransformWebConfig/transformed/Web.config
/SP Share/obj/Release/_WPPLastBuildInfo.txt
/SP Share/obj/Release/Package/PackageTmp/Views/Group/_Limit.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/User/_Limit.cshtml
/SP Share/obj/Release/SP Share.csproj.GenerateResource.cache
/SP Share/obj/Release/SP_Share.Migrations.init.resources
/SP Share/obj/Release/Package/PackageTmp/Views/Item/ItemLimit.cshtml
/SP Share/obj/Release/Package/PackageTmp/Views/Item/ItemLimitList.cshtml
